src/Radial.DistLock.Client/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Radial.DistLock" />
  <xs:element name="Acquire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcquireResult" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Radial.DistLock" minOccurs="0" name="obj" nillable="true" type="q1:LockObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Release">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Radial.DistLock" minOccurs="0" name="GetListResult" nillable="true" type="q2:ArrayOfLockObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>