src/Radial.Lock.Client/Service References/ServiceReference/Radial.Lock.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Radial.Lock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Radial.Lock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LockObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpireTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LockObject" nillable="true" type="tns:LockObject" />
  <xs:complexType name="ArrayOfLockObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LockObject" nillable="true" type="tns:LockObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLockObject" nillable="true" type="tns:ArrayOfLockObject" />
</xs:schema>