xsd/radial-data-nhs-alias.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:radial-data-nhs-alias" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aliases">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="class" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="routing" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>