xsd/radial-mongod.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:radial-mongod" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mongod">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="storages">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="server">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="connection" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="persistences">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="class">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="servers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="read" />
                          <xs:element name="write" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="collection" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>