xsd/radial-web-mvc-result-cache-rule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:radial-web-mvc-result-cache-rule" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="add">
          <xs:complexType>
            <xs:attribute name="url" type="xs:string" use="required" />
            <xs:attribute name="groups" type="xs:string"/>
            <xs:attribute name="expires" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>