xsd/radial-xmlparam.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:radial-xmlparam" xmlns="urn:radial-xmlparam" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
      <xs:element name="next" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="description" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:element name="params">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>