xsd/radial-persist-storage-alias.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:radial-persist-storage-alias"
 xmlns="urn:radial-persist-storage-alias" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="storage">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="alias">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="settings" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>